@charset "utf-8";

@media(max-width:1000px){
    .fatherbox{
        width:80%;
    }
    .fatherbox .myinfo .allinfo .logo{
        width:80px;
        height:80px;
        margin:15px 0;
    }
    .fatherbox .myinfo .allinfo{
        display:block;
    }
    .fatherbox .myinfo .allinfo .icons{
        height:auto;
        margin-top:20px;
    }
    .fatherbox .myinfo .allinfo .icons a{
        display: inline;
        margin-right: 10px;
    }
    .fatherbox .myinfo .allinfo .txtinfo h1{
        
    }
    .fatherbox .myinfo .allinfo .txtinfo p{
        font-size: 16px;
    }
    .fatherbox .myinfo .allinfo .txtinfo{
        height:auto;
        width:100%;
        margin: 0;
        left:0;
    }
}
