@charset "utf-8";

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none; 
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.fatherbox{
    position: relative;
    top: 100px;
    width:45%;
    margin:0 auto;
}
.fatherbox .myinfo{
    width: 100%;
    background-color: #ececec;
    box-shadow: 0 3px 6px 0.5px #cecece;
    padding: 15px 0;
    border-radius: 10px;
}
.fatherbox .myinfo .allinfo{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.fatherbox .myinfo .allinfo .logo{
    width:100px;
    border-radius: 50%;
}
.fatherbox .myinfo .allinfo .txtinfo{
    height:75px;
    margin: 13px 0 13px -35px;
}
.fatherbox .myinfo .allinfo .txtinfo h1{
    margin-bottom:4px;
    font-size:24px;
    font-weight: bold;
}
.fatherbox .myinfo .allinfo .txtinfo p{
    color: #7b7b7b;
    font-size: 18px;
}
.fatherbox .myinfo .allinfo .icons{
    height:103px;
}
.fatherbox .myinfo .allinfo .icons a{
    font-size: 24px;
    display: block;
    color: #5D5D5D;
    margin: 5px 0;
}
.fatherbox .infotext{
    width:100%;
    background-color: #ececec;
    box-shadow: 0 3px 6px 0.5px #cecece;
    border-radius: 10px;
    font-size: 13px;
    line-height: 17px;
    color: #7b7b7b;
    padding: 25px;
    margin-top: 25px;
}
.fatherbox .infotext .info{
    margin-bottom: 15px;
    list-style: disc;
}
.fatherbox .infotext .list{
    margin-left: 25px;
}
.fatherbox .infotext .txt03 i{
    margin-right: 5px;
}